# Dependencies
frontend/package-lock.json
frontend/node_modules
backend/node_modules/
backend/package-lock.json

# Environment variables
backend/.env
backend/.env.local
backend/.env.*.local

# Logs
backend/*.log
backend/logs/
backend/src/logs/
backend/npm-debug.log*

# Build
backend/dist/
frontend/dist/

# IDE files
backend/.idea/
backend/.vscode/
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?

# OS files
backend/.DS_Store
backend/Thumbs.db

# Temporary files
backend/rainGaugeState.json

# Data files
tdr_data/
wise_data/
wise_backup_data/
tdr_backup_data/

# Docker fiels
backend/.dockerignore
backend/*.tar
backend/*.7z
backend/*.zip